@font-face {
  font-family: 'Museo Sans Light';
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot');
  src: local('../fonts/MuseoSansCyrl/MuseoSansCyrl-300'),
      url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff') format('woff'),
      url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
};

@font-face {
 font-family: 'Museo Sans Bold';
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot');
  src: local('MuseoSansCyrl-700'),
      url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff') format('woff'),
      url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
};

@font-face {
  font-family: 'Museo Sans Medium';
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot');
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff') format('woff'),
  url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  };

@mixin reg {
  font-family: 'Museo Sans Light', sans-serif;
};

@mixin med {
  font-family: 'Museo Sans Medium', sans-serif;
};

@mixin bold {
  font-family: 'Museo Sans Bold', sans-serif;
}