body 
  color: $text-color
  font-family: sans-serif
.container
  width: 1170px
  margin: 0 auto

.button
  border-radius: 10px
  background-color: $main-color
  border: none
  padding: 16px 30px
  color: $text-color