.hero
  padding-top: 47px
  // padding-bottom: 52px
  background-color: $bg-grey
  &-block
    display: flex
    justify-content: space-between
  &-text
    margin-top: 31px
    flex-basis: 50%
    justify-content: space-between
    &__title
      font-size: 41px
      padding-left: 0px
      +bold
      line-height: 55px
      margin: 0
      margin-bottom: 38px
    &__subtitle
      display: inline-block
      margin-bottom: 68px
      font-size: 20px
      +bold
  &-list
    margin: 0
    padding: 0
    &__item
      display: flex
      align-items: center
      margin-bottom: 24px
    &__image
      flex-basis: 36px
      height: 36px
      display: flex
      align-items: center
      justify-content: center
      border: 2px solid $main-color
      border-radius: 50%
      margin-right: 30px
    &__text
      max-width: 250px
      line-height: 24px
      font-size: 14px
  &-image
    margin-right: -40px
    max-width: 100%

    
@media (max-width: 1200px)
  .hero
    &-block
      flex-direction: column
    &-list
      margin-bottom: 44px
@media (max-width: 768px)
  .hero
    padding-top: 6px
    padding-bottom: 25px
    &-text
      margin-left: 4px
      &__title
        font-size: 24px
        line-height: 1.3
        margin-bottom: 7px
      &__subtitle
        font-size: 16px
        margin-bottom: 29px
    &-list
      margin-bottom: 38px
      &__text
        font-size: 12px
        max-width: 200px
        line-height: 1.1
      &__image
        margin-right: 15px
      &__item
        margin-bottom: 20px
    &-image
      max-width: 105%
      margin-bottom: 0