.navbar
  padding: 8px 0
  &-block
    display: flex
    justify-content: space-between
    align-items: center
  &__info
    display: flex
  &__contacts
    display: flex
    flex-direction: column
    text-align: right
  &__address
    font-size: 13px
    font-weight: 400
  &__phone
    margin-top: 8px
    font-size: 20px
    font-weight: 400
    text-decoration: none
    color: $text-color
  &__button
    font-size: 13px
    margin-left: 30px

@media (max-width: 768px) 
  .navbar
    &__logo 
      width: 91px
    &__contacts
      display: none
    &__button
      font-size: 10px
      border-radius: 5px
      padding: 12px 25px