.portfolio
  padding: 100px 0
  background: $secondary url('../img/portfolio/pattern.jpg') repeat-y center left
  background-size: 50%
  &__title
    font-size: 30px
    width: 600px
    margin: auto
    margin-bottom: 99px
  &__arrows
    max-width: 119px
    margin: auto
    display: flex
    justify-content: space-between
    margin-top: 68px